.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* A funcionalidade suspensa é alcançada através do CSS, especificamente usando o pseudo-classe :hover:
Isso altera a propriedade de exibição do conteúdo suspenso de 'não' para 'bloquear' quando o usuário paira sobre o contêiner suspenso.*/ 
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hover efeito*/
nav ul li a:hover, .dropdown-content a:hover {
    color: #e8491d;
}
